<a href="https://colab.research.google.com/github/zynaib/g2/blob/main/pandas_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Part 1

The file "Purchase_Data.csv" contains purchase data at a Chinese supermarket for various products.  Read this csv into a dataframe called df_data and use the head() method to check that you have read in the data correctly. Make sure you import pandas.

In [ ]:
#Write your code here
# Step 1: Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

# Step 2: Import pandas
import pandas as pd
import numpy as np

# Step 3: File path (bb/Data/Titainc.csv)
file_path = '/content/drive/MyDrive/Data/Purchase_Data.csv'

# Step 4: Read the CSV file
df = pd.read_csv(file_path)

print("CSV file loaded successfully! Here are the first few rows:")
print(df.head())

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
CSV file loaded successfully! Here are the first few rows:
   invoice_number   invoice_time store_id  product_id  category_id  num_item  \
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101       1.0
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
2    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
3    2.020000e+11  7/15/15 12:16     G816     7070891        70401       1.0
4    2.020000e+11  7/15/15 12:16     G816     7090363        70401       1.0

   price
0    2.0
1    2.0
2    2.0
3    6.0
4    6.0

Use the dtypes attribute to view how each column is stored

In [ ]:
import pandas as pd

file_path = '/content/drive/MyDrive/Data/Purchase_Data.csv'
df_data = pd.read_csv(file_path)

print(df_data.head())


# Write your code here
print(df_data.dtypes)

   invoice_number   invoice_time store_id  product_id  category_id  num_item  \
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101       1.0
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
2    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
3    2.020000e+11  7/15/15 12:16     G816     7070891        70401       1.0
4    2.020000e+11  7/15/15 12:16     G816     7090363        70401       1.0

   price
0    2.0
1    2.0
2    2.0
3    6.0
4    6.0
invoice_number    float64
invoice_time       object
store_id           object
product_id          int64
category_id         int64
num_item          float64
price             float64
dtype: object

Slice the first two columns using .loc and store the result in a variable called result_1.

In [ ]:
# Write your code here
result_1 = df_data.loc[:, df_data.columns[:2]]
print(result_1.head())

   invoice_number   invoice_time
0    2.020000e+11  7/15/15 10:45
1    2.020000e+11  7/15/15 12:16
2    2.020000e+11  7/15/15 12:16
3    2.020000e+11  7/15/15 12:16
4    2.020000e+11  7/15/15 12:16

Slice the first two rows using .loc and store the result in a variable called result_2.

In [ ]:
#Write you code here
result_2 = df_data.loc[:1, :]
print(result_2)

   invoice_number   invoice_time store_id  product_id  category_id  num_item  \
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101       1.0
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0

   price
0    2.0
1    2.0

Slice the first four rows and the first five columns and store the result in a variable called result_3.

In [ ]:
# Write your code here
result_3 = df_data.loc[:3, df_data.columns[:5]]
print(result_3)

   invoice_number   invoice_time store_id  product_id  category_id
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203
2    2.020000e+11  7/15/15 12:16     G816     7070884        70203
3    2.020000e+11  7/15/15 12:16     G816     7070891        70401

Slice rows 0,4,6 and columns invoice time and price and store the result in variable called result_4.

In [ ]:
print(df_data.columns)
# Write your code here
result_4 = df_data.loc[[0,4,6], ['invoice_time', 'price']]
print(result_4)

Index(['invoice_number', 'invoice_time', 'store_id', 'product_id',
       'category_id', 'num_item', 'price'],
      dtype='object')
    invoice_time  price
0  7/15/15 10:45    2.0
4  7/15/15 12:16    6.0
6  7/15/15 15:28    2.0

Store the number rows in a variable called num_rows.

In [ ]:
# Write your code here
num_rows = df_data.shape[0]
print(num_rows)

5382

Print out the last row of the data to dataframe. **Hint:** use the variable num_rows from the previous exercise.

In [ ]:
# Write your code here
print(df_data.loc[num_rows-1])

invoice_number    202000000000.0
invoice_time        9/5/15 23:38
store_id                    G619
product_id              23030206
category_id               210101
num_item                     1.0
price                        2.0
Name: 5381, dtype: object

# Part 2

Compute the average and max price charged.  Store the results in variables called avg_price and max_price

In [ ]:
#Write your code here
max_price = df_data["price"].max()

print("Average Price:", avg_price)
print("Max Price:", max_price)

Average Price: 3.1920522110741363
Max Price: 6.01

Compute the average price and average number of items purchased with only a single call to the mean() method. Store these averages in avg_price and avg_num_items.

In [ ]:
#Write you code here

avg_price, avg_num_items = df_data[["price", "num_item"]].mean()

print("Average Price:", avg_price)
print("Average Num Items:", avg_num_items)

Average Price: 3.1920522110741363
Average Num Items: 1.2983091787439613

Create a column called "total", which is the product of the price and num_item columns.

In [ ]:
#Write your code here
df_data["total"] = df_data["price"] * df_data["num_item"]
df_data.head()

,invoice_number,invoice_time,store_id,product_id,category_id,num_item,price,total
0,2.020000e+11,7/15/15 10:45,G816,7000300,210101,1.0,2.0,2.0
1,2.020000e+11,7/15/15 12:16,G816,7070884,70203,1.0,2.0,2.0
2,2.020000e+11,7/15/15 12:16,G816,7070884,70203,1.0,2.0,2.0
3,2.020000e+11,7/15/15 12:16,G816,7070891,70401,1.0,6.0,6.0
4,2.020000e+11,7/15/15 12:16,G816,7090363,70401,1.0,6.0,6.0

What is the avgerage price of the three most expensive purchases?

In [ ]:
#Write your code here
avg_top3 = df_data["price"].nlargest(3).mean()
print("Average Price of Top 3 Expensive Purchases:", avg_top3)

Average Price of Top 3 Expensive Purchases: 6.003333333333333

How many different products are there?

In [ ]:
#Write your code here
num_products = df_data["product_id"].nunique()
print("Number of Different Products:", num_products)

Number of Different Products: 53

Find the difference between the mean and median of the column total.  Use the describe() method and then index the dataframe it returns.

In [ ]:
#Write your code here
desc = df_data["total"].describe()
diff = desc["mean"] - desc["50%"]
print("Difference between Mean and Median of total:", diff)

Difference between Mean and Median of total: 0.9318078781127839

Use the drop() method to delete the column total from the dataframe df_data.

In [ ]:
#Write your code here
df_data = df_data.drop("total", axis=1)
df_data.head()

,invoice_number,invoice_time,store_id,product_id,category_id,num_item,price
0,2.020000e+11,7/15/15 10:45,G816,7000300,210101,1.0,2.0
1,2.020000e+11,7/15/15 12:16,G816,7070884,70203,1.0,2.0
2,2.020000e+11,7/15/15 12:16,G816,7070884,70203,1.0,2.0
3,2.020000e+11,7/15/15 12:16,G816,7070891,70401,1.0,6.0
4,2.020000e+11,7/15/15 12:16,G816,7090363,70401,1.0,6.0

Let's dig a little deeper into the data set and answer some basic question.

First, covert the column invoice time to a datetime column. Print out the new column types to make sure this was done correctly

In [ ]:
df_data["invoice_time"] = pd.to_datetime(df_data["invoice_time"])
print(df_data.dtypes)

/tmp/ipython-input-921939721.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_data["invoice_time"] = pd.to_datetime(df_data["invoice_time"])

invoice_number           float64
invoice_time      datetime64[ns]
store_id                  object
product_id                 int64
category_id                int64
num_item                 float64
price                    float64
dtype: object

Next, let's create columns called "DOW" and "Month", which store the corresponding weekday and month of the invoice respectively.  Print the head of the dataframe to make sure this was done correctly.

In [ ]:
#Write your code here
df_data["DOW"] = df_data["invoice_time"].dt.day_name()
df_data["Month"] = df_data["invoice_time"].dt.month_name()
print(df_data.head())

   invoice_number        invoice_time store_id  product_id  category_id  \
0    2.020000e+11 2015-07-15 10:45:00     G816     7000300       210101
1    2.020000e+11 2015-07-15 12:16:00     G816     7070884        70203
2    2.020000e+11 2015-07-15 12:16:00     G816     7070884        70203
3    2.020000e+11 2015-07-15 12:16:00     G816     7070891        70401
4    2.020000e+11 2015-07-15 12:16:00     G816     7090363        70401

   num_item  price        DOW Month
0       1.0    2.0  Wednesday  July
1       1.0    2.0  Wednesday  July
2       1.0    2.0  Wednesday  July
3       1.0    6.0  Wednesday  July
4       1.0    6.0  Wednesday  July

Create a variable called num_purchases_wed, which stores the number of purchases made on Wednesday?  You should use value_counts and then index the series it return.

In [ ]:
#Write your code here
num_purchases_wed = df_data["DOW"].value_counts()["Wednesday"]
print("Purchases on Wednesday:", num_purchases_wed)

Purchases on Wednesday: 959

# Part 3

In this set of practice exercises, we will be working with a demographic data regarding the passengers aboard the Titanic.  Read in the data frame and use the head() method to check that it was read in correctly.

In [ ]:
# Step 1: Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

# Step 2: Import pandas
import pandas as pd
import numpy as np

# Step 3: File path
file_path = '/content/drive/MyDrive/Data/Titanic.csv'

# Step 4: Read the CSV file
df_titanic = pd.read_csv(file_path)

# Step 5: Show first rows
df_titanic.head()

Mounted at /content/drive

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

Use the rename method to change the column "Name" to "Passenger_Name" and the column "Ticket" to "Ticket_Num".

In [ ]:
#Write your code here
df_titanic = df_titanic.rename(columns={"Name": "Passenger_Name", "Ticket": "Ticket_Num"})
df_titanic.head()

,PassengerId,Pclass,Passenger_Name,Sex,Age,SibSp,Parch,Ticket_Num,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

Change the index of the df_titanic to the column PasengerID.

In [ ]:
#Write your code here
df_titanic = df_titanic.set_index("PassengerId")
df_titanic.head()

,Pclass,Passenger_Name,Sex,Age,SibSp,Parch,Ticket_Num,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

Select the name of passenger 896

In [ ]:
df_titanic.loc[896, "Passenger_Name"]

'Hirvonen, Mrs. Alexander (Helga E Lindqvist)'

Change the index back to row numbers but making sure that we don't lose the PassengerId column.

In [ ]:
#Write your code here
df_titanic = df_titanic.reset_index()
df_titanic.head()

,PassengerId,Pclass,Passenger_Name,Sex,Age,SibSp,Parch,Ticket_Num,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

How many missing entries are there in the Age column? Use the isnull() method and recall than Booleans are exactly like 1s (True) and 0s (False).

In [ ]:
#Write you code here
missing_age = df_titanic["Age"].isnull().sum()
missing_age

np.int64(86)

Compute the avg age of passengers ignoring the missing data.

In [ ]:
#Write your code here
avg_age = df_titanic["Age"].mean()
avg_age

np.float64(30.272590361445783)

Using the fillna() method replace the missing values in the Age column with the mean.

In [ ]:
#Write your code here
df_titanic["Age"] = df_titanic["Age"].fillna(avg_age)
df_titanic.head()

,PassengerId,Pclass,Passenger_Name,Sex,Age,SibSp,Parch,Ticket_Num,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

What is the average age of the 5 oldest passengers? The reset_index method will be helpful here.

In [ ]:

oldest_5 = df_titanic.sort_values(by="Age", ascending=False).head(5)

oldest_5_avg_age = oldest_5["Age"].mean()
oldest_5_avg_age

np.float64(67.0)